.map {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.mapContainer {
  width: 100%;
  height: 500px; /* Temporarily fixed size */
  background-color: #f4f4f4;
}

.map {
  width: 100%;
  height: 100%;
}
